*{ box-sizing: border-box; }
body { font: normal 16px/2; color: #edf1f7; font-family: "indie_flower"; }
a { color: #edf1f7; text-decoration: none; }
a:hover { text-decoration:underline; }
body > div { visibility: hidden; }
header { background-color: #1761d8; height: 10vh; }
header .menu { display: flex; justify-content: space-between;padding: 1em; max-width: 650px; margin-left: auto; margin-right: auto; }
header a { font-size: 1.8em; }

main.sudoku-grid input{ border: none; margin: 0; padding: 0; width: auto; overflow: visible; background: transparent; color: inherit; font: inherit; line-height: normal;
                        -webkit-font-smoothing: inherit; -moz-osx-font-smoothing: inherit; -webkit-appearance: none; }
main.sudoku-grid input::-webkit-outer-spin-button,
main.sudoku-grid input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
main.sudoku-grid input[type=number] { -moz-appearance: textfield; }
main.sudoku-grid h1 { display: none; }
main.sudoku-grid { background-color: #edf1f7 ; height: 80vh; }
main.sudoku-grid .on { position: relative; height:100%; }
main.sudoku-grid .on.paus {display: none; }
main.sudoku-grid .on span { text-align: center;}
main.sudoku-grid .check { position:relative; height:100%; display: none; }
main.sudoku-grid .check h3 { font-size:4em; width: 100%; text-align: center; }
main.sudoku-grid .check .button-title {display: flex; justify-content: space-around; }
main.sudoku-grid .check .button-title span { font-size:2em; width: 100%; text-align: center; }
main.sudoku-grid .check .button-title span .stopwatch { font-size:1em;}
main.sudoku-grid .check .button-title span a { font-size: 1.2em; }
main.sudoku-grid .check .button-title a { border:none; background: none; font-size: 2em;letter-spacing: 7px; text-align: center; }
main.sudoku-grid .check .button-title a:hover{background: none; text-decoration: underline; color: #edf1f7;}
main.sudoku-grid .on.paus img{padding-left: 0.6em;margin-top: -0.4em;}
main.sudoku-grid .cover{ background-color: rgba(162, 173, 205, 0.95);position: absolute;width: 100%;height: 125.6%;top: -13%; }
main.sudoku-grid .button-title{width: 50%; height: 50%;margin: auto;position: absolute;top: -17%; left: 0; bottom: 0; right: 0;
	display: flex;flex-wrap: wrap;justify-content: center;}
main.sudoku-grid .on .button-title a{background-color: #1660d7; border-radius: 50%;display: inline-block;text-align: center;padding: 1.72em 0.4em;
				font-size: 4.3em;text-transform: uppercase;letter-spacing: 15px; width: 42.7%; min-width: 5.47em; height: 5.58em;}
main.sudoku-grid .on .button-title a:hover{text-decoration: none; color:#b8d0ef; background-color: #153e7c;}
main.sudoku-grid .on .button-title span{font-size: 3em;}

main.sudoku-grid .table{display: none;align-items: center;justify-content: space-around; height: 100%; flex-wrap: wrap; max-width: 1500px; margin: 0 auto;}
main.sudoku-grid .tbl-holder{width: 45%; min-width: 670px;}
main.sudoku-grid .img-holder{width: 27%; padding: 0 1em;}
main.sudoku-grid .table #sudoku{border: 4px solid #1761d8; color: black; white-space: nowrap; margin: auto;}
main.sudoku-grid .table #sudoku td{border: 2px solid #9fa8b7; color: black; font-size: 1.7em; padding: 0; background-color: #dbe7fc; min-width: 2.75em; max-width: 2.75em; 
						text-overflow:ellipsis;overflow:hidden;white-space:nowrap; padding: 0.03em;}
main.sudoku-grid .table #sudoku tr td:nth-child(3n){border-right: 4px solid blue;}
main.sudoku-grid .table #sudoku tr:nth-child(3n){border-bottom: 4px solid blue;}
main.sudoku-grid .table #sudoku input{padding: 0.1em 0.8em; width:70px;}

footer{background-color: #1761d8; height:10vh;display: flex; justify-content: center; padding: 0 1em;padding-top: 1em;}
footer .stopwatch{font-size: 1.8em;letter-spacing: 6px; padding-right: 3.1em; width: 300px;}
footer a{ font-size: 1.9em; } 


/*Common css for Login/Singup/Allusers*/
.welcome { background-image: url('../img/login.jpg'); display: flex; justify-content: center; background-repeat: no-repeat; position: relative; background-size: cover; height: 100vh; }
.welcome a { color: rgb(214, 242, 254); font-weight: 900; }
.welcome form, .welcome .signup, .welcome .allusers { display: flex; flex-flow: column wrap; justify-content: center; align-items: center; margin: auto 1em; max-width: 400px; width: 100%; max-height: 500px; padding: 2em; border-radius: 1em; background-color: rgba(214, 242, 254,0.4); }
.welcome form em,.welcome .signup em, .welcome .allusers h5 { letter-spacing: 0.084em; font-weight: 700; font-size: 3.8em; color: rgb(102, 60, 117); text-transform: uppercase; }
.welcome form input, .welcome form button,.wlcome.signup button { position: relative; display: block; padding: 0.8em 2.2em; border-radius: 10em; margin: 1.5em 0; width: 100%; color: #103c5b;}
/*Login and Singup*/
.welcome form button,.welcome .signup button { background-color: #d3d4d6; color: #103c56; font-weight: 500; padding: 0.8em 2.2em; font-weight: bold; text-transform: uppercase; }
.welcome .frm-btn:hover:after,.welcome .signup button:hover:after { width: 120%; background-color: rgba(255,255,255,0); -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
.welcome form p,.welcome .signup span { color: rgb(16, 60, 86); font-weight: 900; text-align: justify; font-size: 0.7em; line-height: 1.5em; }
/*Login*/
.welcome form .warning { color: #d20a0a; font-weight: 600; }
/*Signup*/
.welcome .signup button, .welcome .signup input { margin: 1em 0;}
.welcome .signup { max-height: 700px;} 
/*Allusers*/
.welcome .allusers { max-width: 1000px; max-height: 900px; } 
.welcome .allusers ul li {line-height: 2em; }
.welcome .allusers ul li:first-child { color: #103c56; font-weight: bold; text-transform: uppercase; font-size: 1.3em; background-color: rgba(102, 60, 117, 0.5);}
.welcome .allusers ul .row { background-color: rgba(60, 92, 117, 0.5); font-weight: 600;}
.welcome .allusers em { display: inline-block; width: 12rem; text-align: center; }
.welcome .allusers em:first-child { width: 3rem; }
.welcome .allusers em:last-child { width: 6rem; }
