*{ box-sizing: border-box; }
body { font: normal 16px/2; color: #edf1f7; font-family: "indie_flower"; }
body > div { visibility: hidden; }

/*Home page*/
a { color: #edf1f7; text-decoration: none; }
a:hover { box-shadow: 0 0.5em 0.5em -0.4em var(--hover); transform: translateY(-0.25em); font-weight: 900; color: #ffffff; }
.home-sudoku { background-image: url(../img/home-bgd.jpg); background-size: cover; background-position: center; } /*body class for home*/
header, footer { background-color: rgba(28, 125, 174, 0.5); height: 10vh; }
header .menu { display: flex; justify-content: space-between; padding: 2em; max-width: 650px; margin-left: auto; margin-right: auto; }
header a, footer a, footer .stopwatch { font-size: 1.8em; font-weight: 900; text-decoration: none; text-transform: capitalize; }
main.sudoku-grid input { border: none; margin: 0; padding: 0; width: auto; overflow: visible; background: transparent; color: inherit; font: inherit; line-height: normal;
						-webkit-font-smoothing: inherit; -moz-osx-font-smoothing: inherit; -webkit-appearance: none; }
main.sudoku-grid input::-webkit-outer-spin-button,
main.sudoku-grid input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
main.sudoku-grid input[type=number] { -moz-appearance: textfield; }
main.sudoku-grid h1 { display: none; }
main.sudoku-grid { background-position: center; background-size: cover; height: 80vh; }
main.sudoku-grid .on { position: relative; height:100%; }
main.sudoku-grid .on.paus { display: none; }
main.sudoku-grid .on span { text-align: center;}
main.sudoku-grid .check { position:relative; height:100%; display: none; }
main.sudoku-grid .check h3 { font-size: 4.5em; width: 100%; text-align: center; color: #9a7ac2; }
main.sudoku-grid .check.p h3 a:hover {text-decoration: none; }


main.sudoku-grid .check .button-title {display: flex; justify-content: space-around; }
main.sudoku-grid .check .button-title span { font-size:2em; width: 100%; text-align: center;  }
main.sudoku-grid .check .button-title span .stopwatch { font-size:1em;}
main.sudoku-grid .check .button-title span a { font-size: 1.6em; }
main.sudoku-grid .check .button-title a { border:none; background: none; font-size: 3em;letter-spacing: 7px; text-align: center; }
main.sudoku-grid .check .button-title a:hover {background: none; box-shadow: 0 0.5em 0.5em -0.4em var(--hover); transform: translateY(-0.25em); font-weight: 900; color: #ffffff; }
main.sudoku-grid .on.paus img { padding-left: 0.6em;margin-top: -0.4em;}
main.sudoku-grid .cover { background-color: rgba(19, 88, 123, 0.97); animation: colorchange 10s; -webkit-animation: colorchange 10s; position: absolute; width: 100%; height: 125.6%; top: -13%; }
@keyframes colorchange{  25%  {background:  #13597B;} 50%  {background: #103c56} 75%  {background: #6c748c;} 100% {background:  #13597B;} }
@-webkit-keyframes colorchange { 25%  {background:  #13597B;} 50%  {background: #103c56;} 75%  {background: #6c748c;} 100% {background:  #13597B;} }
main.sudoku-grid .button-title { width: 40%; height: 70%;margin: auto; position: absolute; top: -17%; left: 0; bottom: 0; right: 0; display: flex;flex-wrap: wrap; justify-content: center; }
main.sudoku-grid .on .button-title a { color:#13597B; background-color: rgb(162, 173, 205); border-radius: 50%;display: inline-block; text-align: center; padding: 1.9em 0.3em;
										font-size: 4.3em; text-transform: uppercase; letter-spacing: 15px; width: 42.7%; min-width: 5.47em; height: 5.58em; }
main.sudoku-grid .on .button-title a:hover { text-decoration: none; color:#b8d0ef; background-color: #13597B; }
main.sudoku-grid .on .button-title span { font-size: 3em;}
main.sudoku-grid .table { display: none; align-items: center; justify-content: center; height: 100%; flex-wrap: wrap; max-width: 1500px; margin: 0 auto; }
main.sudoku-grid .tbl-holder { width: 45%; min-width: 670px; -webkit-box-shadow: 0px 0px 300px 80px rgba(188,233,254,0.77);-moz-box-shadow: 0px 0px 300px 80px rgba(188,233,254,0.77);
							box-shadow: 0px 0px 300px 80px rgba(188,233,254,0.77); }
main.sudoku-grid .table #sudoku { border: 4px solid rgba(28, 125, 174, 1); color: black; white-space: nowrap; margin: auto; }
main.sudoku-grid .table #sudoku td { border: 2px solid rgba(28, 125, 174, 0.5); color: black; font-size: 1.7em; padding: 0; background-color: #dbe7fc;
									 min-width: 2.75em; max-width: 2.75em; text-overflow:ellipsis;overflow:hidden; white-space:nowrap; padding: 0.03em; }
main.sudoku-grid .table #sudoku tr td:nth-child(3n) { border-right: 4px solid rgba(28, 125, 174, 1); }
main.sudoku-grid .table #sudoku tr:nth-child(3n) { border-bottom: 4px solid rgba(28, 125, 174, 1); }
main.sudoku-grid .table #sudoku input { padding: 0.1em 0.8em; width:70px; color: rgb(102, 60, 117); }
footer { display: flex; justify-content: center;  padding: 0 2em; padding-top: 2em; }
footer .footer-content { width: 30%; display: flex; justify-content: space-between; }

/*---------------------  */

/*Common css for Login & Singup & Alluser & Rank */
.welcome { background-image: url('../img/login.jpg'); background-size: cover; display: flex; justify-content: center; background-repeat: no-repeat; position: relative;  height: 100vh; }
.welcome a { color: rgb(102, 60, 117); font-weight: 900; }
.welcome form, .welcome .signup, .welcome .allusers, .welcome .rank { display: flex; flex-flow: column wrap; justify-content: center; align-items: center; margin: auto 1em; max-width: 400px; width: 100%; max-height: 500px; padding: 2em; border-radius: 1em; background-color: rgba(214, 242, 254,0.4); }
.welcome form em,.welcome .signup em, .welcome .allusers h5, .welcome .rank h5 { letter-spacing: 0.084em; font-weight: 700; font-size: 3.8em; color: rgb(102, 60, 117); text-transform: uppercase; }
.welcome form input, .welcome form button,.welcome .signup button { position: relative; display: block; padding: 0.8em 2.2em; border-radius: 10em; margin: 1.5em 0; width: 100%; color: #103c5b;}
.welcome a i { font-size: 0.8em; transform: translateX(-16px) translateY(-7px);}
.welcome a i:hover {color: rgba(28, 125, 174, 1); }

/*---------------------  */


/*Login and Singup*/
.welcome form button,.welcome .signup button { background-color: #d3d4d6; color: #103c56; font-weight: 500; padding: 0.8em 2.2em; font-weight: bold; text-transform: uppercase; }
.welcome form p,.welcome .signup span { color: rgb(16, 60, 86); font-weight: 900; text-align: justify; font-size: 0.7em; line-height: 1.5em; }
/*---------------------  */


/*Login*/
.welcome form .warning { color: #d20a0a; font-weight: 600; }
/*---------------------  */


/*Signup*/
.welcome .signup button, .welcome .signup input { margin: 1em 0;}
.welcome .signup { max-height: 700px;} 
/*---------------------  */


/*Allusers & Rank*/
.welcome .allusers, .welcome .rank { max-width: 900px; max-height: 900px; }
.welcome .allusers ul, .welcome .rank ul { border: solid; border-color:#663c75; border-radius: 1em; }
.welcome .allusers h5, .welcome .rank h5 { margin: 0.5em; font-size: 3.2em; font-weight: 900;}
.welcome .allusers ul li, .welcome .rank ul li {line-height: 2em; }
.welcome .allusers ul .row:hover, .welcome .rank ul .row:hover{ background-color: transparent; color:rgb(102, 60, 117); }
.welcome .allusers ul li:first-child, .welcome .rank ul li:first-child{ border-radius: 15px 15px 0 0; color: #103c56; font-weight: bold; text-transform: uppercase; font-size: 1.3em; background-image: linear-gradient(to bottom, rgba(102, 60, 117,0.5), rgba(60, 92, 117, 0.5)); }
.welcome .allusers ul li:last-child, .welcome .rank ul li:last-child { border-radius: 0 0 15px 15px; } 
.welcome .allusers ul .row, .welcome .rank ul .row, .welcome .allusers ul, .welcome .allusers .search  { background-color: rgba(60, 92, 117, 0.5); font-weight: 600;}
.welcome .allusers em, .welcome .rank em { display: inline-block; width: 12rem; text-align: center; }
.welcome .allusers em:first-child, .welcome .rank  em:first-child { width: 3rem; }
.welcome .allusers em:last-child, .welcome .rank em:last-child { width: 6rem; }
.welcome .allusers .icons { display: inline-block; visibility: hidden; }
.welcome .allusers .icons i:hover { cursor: pointer;  color: #103c56; }
.welcome .allusers .form { display: flex; flex-flow: row; margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; background-color: transparent; margin: 0 auto; padding-bottom:0.5em;}
.welcome .allusers .form input{ position: relative; display: block; padding: 0.4em 2.2em;  margin: 0; width: 100%; color: #103c5b; max-width: 230px;}
.welcome .allusers .form label { margin-right: 0.5em;}
.welcome .allusers .form i { color: #9a9a9a; z-index: 10; transform: translateX(26px);}
/*---------------------  */


/* Edit-profile */
.welcome .edit {text-align: center;}
.welcome .edit a {color: rgb(102, 60, 117);}
.welcome .warning.good {color: rgb(5, 101, 49);}
/*---------------------  */

/*---------Main manu --------*/
.welcome .main-menu { display: flex; flex-flow: column wrap; justify-content: center; align-items: center; margin: auto 1em; max-width: 450px; width: 100%; max-height: 550px; padding: 2em 0; border-radius: 1em; background-color: rgba(214, 242, 254,0.5); }
.welcome .main-menu a , .welcome .main-menu p, .welcome .main-menu em { color:rgb(60, 92, 117); }
.welcome .main-menu em, .welcome .main-menu a { display: block; padding: 0.8em 0; font-size: 1.5em; width: 100%; text-align: center;border-bottom: solid 2px#286e87;;}
.welcome .main-menu a:hover{ background-image: linear-gradient(to bottom, rgba(214, 242, 254, 0.5), rgba(102, 60, 117,0.5)); color: #eaf8fe; text-decoration: none;}
.welcome .main-menu em { color:rgb(102, 60, 117); font-weight: 900; font-variant: small-caps;}
.welcome .main-menu p { letter-spacing: 0.084em; font-weight: 700; font-size: 3.8em; text-transform: uppercase; } 
/*---------------------------*/

/*Rank*/
.welcome .rank li em:last-child { width: 8rem;}
.welcome .rank .column em:nth-last-child(2) { width: 7rem;}
.welcome .rank li em:last-child { width: 0rem;}
.welcome .rank .column em:last-child { width: 1rem; line-height: 0; padding-right: 1em; transform: translateX(-13px) translateY(4px);}
.welcome .rank .column .icons i { line-height: 0; height: 10px;}

.welcome .rank .column .icons i:hover { color: rgb(237, 241, 247) !important; }

